.container {
    height: 200px;
    width: 400px;
    border: 1px black solid;
    display: flex;
    margin: 30px;
    align-content: center;
    align-items: center;
    transition: transform 0.5s;
}

.container:hover {
    transform: scale(1.1);
}

.textInfo {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70%;
    vertical-align: middle;
    border: 3px blue solid;
    justify-content: center;
}

.previewImage {
    height: 30%;
    width: 30%;
    align-content: center;
}

.headingLarge {
    font-size: 20px;
    line-height: 60%;
}

.headingMedium {
    font-size: 14px;
    line-height: 60%;
}

.textBasic {
    line-height: 60%;
}