.basicInfo {
    display: flex;
    flex-direction: row;
}

.chart {
    border: 1px red solid;
    height: 60%;
    width: 80%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
}

.imageContainer {
    border: 1px red solid;
    height: 50%;
}

.previewImage {
    height: 200px;
    width: 200px;
    align-content: center;
}

.textInfo {
    border: 4px green solid;
    width: 50%;
}